<!--<div>-->
<!--  <label class="label">Настройки даты</label>-->
<!--</div>-->

<!--<nb-card class="mb-3">-->
<!--  <nb-card-body>-->
    <div class="row mt-2">
      <div class="col-lg-3 margin-bottom">
        <div class="btn-group w-100">
          <button nbButton hero outline fullWidth [status]="status" (click)="editDay('-')">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button nbButton hero fullWidth [status]="status" class="mr-2 ml-2" (click)="getDay()">
            День
          </button>
          <button nbButton hero outline fullWidth [status]="status" (click)="editDay('+')">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
        </div>
      </div>

      <div class="col-lg-3 margin-bottom">
        <div class="btn-group w-100">
          <button nbButton hero outline fullWidth [status]="status" (click)="editWeek('-')">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button nbButton hero fullWidth [status]="status" class="mr-2 ml-2" (click)="getWeek()">
            Неделя
          </button>
          <button nbButton hero outline fullWidth [status]="status" (click)="editWeek('+')">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
        </div>
      </div>

      <div class="col-lg-3 margin-bottom">
        <div class="btn-group w-100">
          <button nbButton hero outline fullWidth [status]="status" (click)="editMonth('-')">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button nbButton hero fullWidth [status]="status" class="mr-2 ml-2" (click)="getMonth()">
            Месяц
          </button>
          <button nbButton hero outline fullWidth [status]="status" (click)="editMonth('+')">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="btn-group w-100">
          <button nbButton hero outline fullWidth [status]="status" (click)="editYear('-')">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button nbButton hero fullWidth [status]="status" class="mr-2 ml-2" (click)="getYear()">
            Год
          </button>
          <button nbButton hero outline fullWidth [status]="status" (click)="editYear('+')">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
<!--  </nb-card-body>-->
<!--</nb-card>-->
