nb-card {
  cursor: pointer;
  &:hover {
    box-shadow: rgba(85, 85, 85, 0.1) 0px 7px 29px 0px;
  }
}

.selected {
  border: 1px solid #3366ff;
}

.selected-tag {
  color: #FFFFFF!important;
  background-color: #3366ff!important;
}


.errorMessage {
  font-weight: bold;
  color: #ff3d71;
}

