<div class="container">
  <div class="h5">
    <div class="row">
      <div class="col-md-6">
        Список Заявок
      </div>
      <div class="col-md-6 text-right">
        <button nbButton
                outline
                (click)="clearFilters()"
                size="small">
          Сбросить
          <nb-icon [icon]="'funnel'"></nb-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 mt-1">
      <button nbButton
              outline
              [class.selected-tag-red]="selectedStatus === 'reject'"
              (click)="selectStatus('reject')"
              status="danger"
              size="small"
              class="mr-2">
        Не прошло проверку: {{quantityByStatus('reject')}}
      </button>

      <button nbButton
              outline
              [class.selected-tag-orange]="selectedStatus === 'created'"
              (click)="selectStatus('created')"
              status="warning"
              size="small"
              class="mr-2">
        Не обработанно: {{quantityByStatus('created')}}
      </button>

      <button nbButton
              outline
              [class.selected-tag-green]="selectedStatus === 'inProgress'"
              (click)="selectStatus('inProgress')"
              status="success"
              size="small"
              class="mr-2">
        В процессе: {{quantityByStatus('inProgress')}}
      </button>

    </div>
    <div class="col-md-6 text-right">
      <nb-select multiple placeholder="Фильтр по тегам" [(ngModel)]="selectedTags">
        <nb-option *ngFor="let tag of tags" [value]="tag">
          {{ tag }}
        </nb-option>
      </nb-select>
    </div>
  </div>

  <ngx-request-card *ngFor="let req of requests"
                    [request]="req"
                    [selectedTags]="selectedTags"
                    [hidden]="!isFilterByTags(req.tags) || isFilterByStatus(req.status)"
                    (onReq)="selectRequest($event)"
                    [isSelected]="isRequestSelected(req)">
  </ngx-request-card>

  <div *ngIf="!!selectedRequests.length"
       class="handle-button">
    <button nbButton hero
            (click)="onHandle()"
            status="primary"
            size="giant"
            shape="semi-round">
      Обработать: {{ selectedRequests.length }}
    </button>
  </div>
</div>
